<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap_addon.css">
        <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
        <script src="https://unpkg.com/aframe-simple-sun-sky@^1.2.2/simple-sun-sky.js"></script>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
    </head>

    <body>
        <!-- Modal -->
        
        {{{body}}}
        <script type="text/javascript" src="/javascripts/aframe-inspector-ajax.js"></script>
    </body>
</html>