<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
    {{!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>--}}
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {{!--<script type="text/javascript" src="/js/bootstrap.min.js"></script>--}}
  </head>
  <body class="mw-100 mh-100">
    {{!--<div class="container m-0 mh-100">--}}
    {{!--  <div class="row mh-100">--}}
    {{!--    <div class="col d-flex flex-column justify-content-center align-items-center">--}}
    {{!--      {{{body}}}--}}
    {{!--    </div>--}}
    {{!--  </div>--}}
    {{!--</div>--}}
    {{{body}}}
  </body>
</html>
