<style>
	body {
		height: 100vh !important;	
	}
	
	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-content: center;
	}	
	
	.item {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
</style>

<div class="container">
	<div>
		<h3>VR Lab Authoring Tool Project Team</h3>
	</div>
	<div class="item">
		<div class="img-container d-flex justify-content-center">
		    <img id="groupPhoto" src="../images/teampic.jpg" alt="Team picture" style="width:auto; height:600px;">
		</div>
		<p class="text-center">Upkar Singh, Sue Vang, Martin Pantoja-Saldana, Oleksandr Babich, Kamarin San Nicolas</p>
	</div>
	<div class="item">
		<div class="">
			<img>
		</div>
		<p class="text-center">Narendra Mannan</p>
	</div>
</div>